body{background:#50AEE6;background-size:cover;padding:8% 0px 30px 0px;font-family:'Open Sans',sans-serif;font-size:100%;}
.singup{width:500px;background:#fff;margin:0 auto;border-radius:10px;}
.singup h3{font-size:27px;font-weight:300;color:#fff;background:#0EA7E7;padding:20px 0px;text-align:center;border-radius:10px 10px 0px 0px;border-bottom:3px solid #EA484E;}
.signup-main{padding:30px 30px 25px 30px;text-align:center;}
.login-text{font-size:15px;font-weight:400;color:#CCCACA;padding:13px 10px;border:2px solid #C9C9C9;margin:0px 30px 20px 0px;width:40%;border-radius:4px;width:94%;margin:0px 0px 25px 0px;}
.login-btn{background:#EA484E;color:#FFF;font-size:25px;font-weight:300;padding:10px 50px;border-radius:5px;margin:0px 0px 5px 0px;display:inline-block;cursor:pointer;}
.login-btn:hover{background:#0EA7E7;}
.errorMsg{display:none;color:#ea484e;height:40px;line-height:40px;}
